.navbar {
  position: sticky;
  top: 0;
  left: 0;
  height: 4em;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.wrapper {
  width: 80%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.hamburger {
  display: none;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links li {
  margin: 0 20px;
  cursor: pointer;
}

.links li a {
  color: #000;
}

.links li a:hover {
  color: #A02279;
}

.button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  color: #fff;
  border-radius: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top .icon {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

p {
  margin: 3em 0 1em;
  font-size: 14px;
}

.close {
  display: none;
}

.menu {
  display: none;
}

.buttonModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-radius: 12px;
  background-color: #e1e1e1;
  margin-bottom: 10px;
  cursor: pointer;
}

.buttonModal .wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.buttonModal .wrapper h4 {
  margin-left: 15px;
}


@media (max-width: 1024px) {
  .hamburger {
    display: block;
    font-size: 30px;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background-color: #A02279;
  }

  .links {
    display: none;
  }

  .button {
    display: none;
  }
}


@media (max-width: 764px) {
  .navbar {
    width: 100%;
    justify-content: flex-start;
    /* border: 2px solid red; */
  }

  .wrapper {
    /* border: 2px solid green; */
  }

  .links {
    display: none;
  }

  .logoContainer {
    transform: scale(0.7);
    margin: 0;
  }

  .button {
    display: none;
  }
}